<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sensoro.city_camera">

    <application
        android:name="com.sensoro.city_camera.debug.CityCameraApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:replace="android:theme">

        <activity
            android:name="com.sensoro.city_camera.activity.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sensoro.city_camera.activity.SecurityWarnRecordDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name="com.sensoro.city_camera.activity.PhotoPreviewActivity" />
        <activity android:name="com.sensoro.city_camera.activity.SecurityWarnDetailActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="feb394e9f7754ae572cc77a0bfc723e5" />
        <meta-data
            android:name="com.fengmap.mapapi.appkey"
            android:value="7b11a3fcdc47cdacf522976dd5ca4c61" />
    </application>

</manifest>